.header{
    background: rgb(1, 127, 255);
}
.header .header--top{
    height: 70px;
}

.header .header--top .header-left{
    display: flex;
    height: 70px;
}

.header-left .menu-wrapper{
    position: relative;
}

.header-left .menu-wrapper:hover .menu--dropDown {
    opacity: 1;
    visibility: visible;
    display: block;
}
.header-left .menu-wrapper .menu--dropDown{
    position: absolute;
    top: 70px;
    left: -60px;
    width: 240px;
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #a89d9d;
    background: var(--white-color);
    box-shadow: -1px 1px 10px 1px #d1c8c8;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 0.4s;
    z-index: 10;
}
.menu--dropDown .menu--list{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.menu--dropDown .menu--list .menu--item{
    width: 100%;
    height: 34px;
    transition: 0.4s;
}

.menu--item .menu--item__wrapper{
    position: unset;
}

.menu--item .menu--item__wrapper:hover .menu--item__dropDown {
    display: block;
}
.menu--item .menu--item__wrapper .menu--item__dropDown{
    position: absolute;
    top: 0;
    left: 235px;
    background: var(--white-color);
    width: calc(1270px - 232px);
    height: 544px;
    border-radius: 0 3px 3px 0;
    box-shadow: 4px 2px 10px 0px #d1c8c8;
    display: none;
    transition: 0.4s;
}
.menu--item__dropDown .menu--item__col{
    padding: 13px 0;
}

.menu--item__dropDown .menu--item__col .menu--dropDown__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: 0.4s;
}

.menu--item__dropDown .menu--item__col .menu--dropDown__link-active{
    color: var(--text-color);
    font-weight: bold;
}

.menu--item__dropDown .menu--item__col .menu--dropDown__link:hover {
    color: rgb(1, 127, 255);
}
.menu--item__dropDown .menu--item__col .menu--item__title{
    margin-left: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
    padding: 6px 0;
    cursor: pointer;
}
.menu--item__col > ul{
    list-style: none;
    padding: 0 30px;
}
.menu--item__col > ul > li{
    padding: 3px 0;
}

.menu--dropDown .menu--list .menu--item:hover {
    background: rgb(1, 127, 255);
}

.menu--dropDown .menu--list .menu--item:hover .menu--item__dropDown {
    display: block;
}

.menu--dropDown .menu--list .menu--item:hover:after {
    opacity: 1;
}

.menu--dropDown .menu--list .menu--item:after {
    position: relative;
    content: "";
    top: -23px;
    left: 235px;
    width: 0px;
    height:0px;
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    border-left: 11px solid rgb(1, 127, 255);
    opacity: 0;
    transition: 0.4s;
}
.menu--list .menu--item .menu--item__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    display: flex;
    padding: 8px 10px;
}

.menu--list .menu--item .menu--item__link .menu--dropDown__icon{
    width: 30px;
    font-size: 1.4rem;
    text-align: center;
}

.header-left .logo--link{
    width: 60px;
    height: 40px;
    margin-top: 20px;
}
.header-left .logo{
    width: 100%;
    height: 100%;
}
.header-left .menu{
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.header-left .menu .menu--bar{
    display: flex;
    align-items: center;
}

.header-left .menu .menu--bar i{
    color: var(--white-color);
    font-size: 2.6rem;
}
.header-left .menu .memu-text{
    color: var(--white-color);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.header-left .menu .menu--icon i{
    color: var(--white-color);
    font-size: 1rem;
    margin-top: 26px;
    }

.header .header--top .header--formSearch{
    display: flex;
    margin-top: 22px;
}
.header--formSearch .formSearch__input{
    width: 470px;
    height: 40px;
    border: none;
    border-radius: 2px 0 0 2px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-style: italic;
    outline: none;
}
.header--formSearch .btn--search{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 0 2px 2px 0;
    background: rgb(13, 92, 182);
    color: var(--white-color);
    font-size: 1.4rem;
    cursor: pointer;
}

button.btn--search i {
    font-size: 1.6rem;
    margin-right: 2px;
}

.header .header--top .header-right{
    display: flex;
    justify-content: space-between;
}

.header-right .header--user__wrapper{
    position: relative;
}

.header-right .header--user__wrapper .header--user__dropDown{
    position: absolute;
    top: 88px;
    left: -36px;
    width: 262px;
    height: 277px;
    border-radius: 5px;
    background: var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in;
    z-index: 10;
}

.header--user__wrapper:hover .header--user__dropDown{
    opacity: 1;
    visibility: visible;
}

.header--user__dropDown:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg)translateX(-50%);
    background: var(--white-color);
}
.header--user__dropDown .btn-login,.btn-register{
    display: block;
    width: 90%;
    margin: 15px auto;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 12px 0px;
    font-size: 1.4rem;
    background: rgb(253, 216, 53);
    cursor: pointer;
    transition: all 0.4s;
}

.btn-account:hover{
    opacity: 0.7;
}

.header--user__dropDown .btn-facebook,.btn-google,.btn-twitter{
    width: 90%;
    height: 40px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    background: rgb(59, 89, 152);
    color: var(--white-color);
    cursor: pointer;
    transition: 0.4s;
}
.logo__login {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
    margin-right: 10px;
}
.header--user__dropDown .btn-google{
    background: rgb(223, 74, 50);
}
.header--user__dropDown .btn-twitter{
    background: rgb(15, 142, 221);
}

.header-right .cart--link{
    text-decoration: none;
}

.header-right .header--user{
    color: var(--white-color);
    font-size: 1.4rem;
    margin-top: 21px;
    display: flex;
    cursor: pointer;
}

.header-right .account-label {
    line-height: 15px;
    margin-left: 5px;
}

.header-right .header--user i {
    font-size: 2.6rem;
    line-height: 40px;
}

.header-right .account-label>i {
    font-size: 1.2rem;
}

.header-right .header--user span {
    margin-left: 10px;
}

.header-right .header--user .menu--icon{
    display: inline;
}
.header-right .header-cart{
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 70px;
    margin-top: 8px;
}

.header-right .header-cart .header-cart__wapper{
    position: relative;
    font-size: 2.6rem;
    display: inline-block;
    padding-right: 10px;
}

.header-cart .header-cart__wapper .cart--qty{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: rgb(253, 216, 53);
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--text-color);
}

.header .header--bottom{
    height: 32px;
    line-height: 25px;
}

.header .header--bottom .header--sale__link{
    text-decoration: none;
}

.header .header--bottom .header__quicklinks--container{
    text-align: center;
    padding-left: 15px;
}
.header__quicklinks--container .header__quicklink--item{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0px 5px;
}
.header .header--bottom .header--sale{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header--sale i {
    font-size: 1.6rem;
    color: yellow;
    padding-right: 5px;
    margin-top: 5px;
}
.header .header--bottom .header--sale .tiki--seller{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
}

/* ------------------------- end Header ------------------------- */


/* ------------------------- start Banner ------------------------- */
.main{
    background:rgb(239, 239, 239);
}
.main .banner{
    padding: 15px 0;
    position: relative;
}
.main .banner .slider{
    overflow: hidden;
    display: flex;
    position: relative;
    height: 278px;
}

.main .banner .slider:hover .btnSlider {
    opacity: 0.8;
}
.slider .slider__item{
    position: absolute;
}

button.btnSlider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 30px;
    height: 30px;
    background-color: #8e7f7f;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    color: var(--white-color);
    opacity: 0.8;
}

button.btnSlider i{
    font-size: 2rem;
    color: var(--white-color);
    transition: 0.4s;
}

button.btnSlider:hover i {
    color: rgb(1, 127, 255);
}

button.btnSlider-next {
    right: 428px;
}


button.btnSlider-prev {
    left: 0px;
}

.banner__right {
    margin-left: 10px;
}

.banner__right .banner__img {
    width: 100%;
    border-radius: 5px;
}
 /* ------------ fix file slick.css ------------ */
ul.slick-dots li {
    padding: 0 10px;
    font-size: 3rem;
    color: var(--white-color);
    cursor: pointer;
}

ul.slick-dots li.slick-active {
    color: rgb(1, 127, 255);
}

ul.slick-dots {
    position: absolute;
    bottom: -6px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.slick-slide img
{
    display: block;
    height: 100%;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ------------ fix file slick.css ------------ */

/* ------------------------- end Banner ------------------------- */ 


/* ------------------------- start deal ------------------------- */ 
.deal{
    background: rgb(255, 255, 255);
}
.deal .deal__top{
    padding: 10px 20px;
    border-bottom: 1px solid #f2eaea;
}
.deal .deal__top .sale__img--wrap{
    display: flex;
}

.deal .deal__top .time__flashSale{
    float: right;
    width: 100px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-right: 12px;
    text-decoration: none;
}
.time__flashSale #countdown > span{
    background-color: rgb(255, 66, 78);
    color: white;
    border-radius: 4px;
    padding: 0 3px;
    margin:0 3px;
}

.time__flashSale .icon--next{
    color: #8e8383;
    margin-left: 10px;
}

.deal .deal__content{
    position: relative;
    padding: 20px 0;
}
.deal .deal__content .btnDeal{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 30px;
    height: 60px;
    background: #e2d1d1;
    z-index: 10;
    cursor: pointer;
}

.deal .deal__content .btnDeal:hover i{
    color: rgb(1, 127, 255);
}

.deal .deal__content .btnDeal > i{
    font-size: 2rem;
    color: var(--white-color);
    transition: 0.4s;
}
.deal .deal__content .btnDeal-next{
    left: 1240px;
}
.deal .deal__content .btnDeal-prev{
    left: 0;
}
.deal .deal__content .list__deal{
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
}
.list__deal .deal__item{
    display: block;
    width: 248px;
    height: 273px;
    text-decoration: none;
    padding: 0 25px;
}

.list__deal .deal__item:hover {
    box-shadow: 1px -3px 20px 0px #eae2e2;
}
.list__deal .deal__item .picture{
    width: 192px;
    height: 192px;
    display: block;
    margin: auto;
}
.list__deal .deal__item .deal__price{
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    padding: 15px 0;
}
.list__deal .deal__item .deal__qty{
    width: 90%;
    height: 20px;
    background: rgb(255, 170, 175);
    border-radius: 10px;
    margin: auto;
    position: relative;
}
.deal__qty .deals__progress{
    position: absolute;
    width: 16%;
    height: 100%;
    background: rgb(255, 66, 78);
    border-radius: 10px;
}
.deal__qty span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white-color);
}

.slick-disabled {
     display: none; 
     pointer-events:none;
     opacity: 0;
     visibility: hidden; 
}

/* ------------------------- end deal ------------------------- */ 
/* ------------------------- start quicklink ------------------------- */ 
.quicklinks{
    margin-top: 30px;
    background: rgb(255, 255, 255);
}
.quicklinks .quicklink__container{
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quicklinks .quicklink__container .quicklink__item{
    display: block;
    width: 103px;
    height: 100px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}
.quicklink__item .quicklink__img{
    width: 50px;
}
.quicklink__item span{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 10px;
    display: block;
}

/* ------------------------- end quicklink ------------------------- */ 

 